<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Scheduler
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Extracts

              <!-- "Pulled" button group -->
              <div class="pull-right">
                <button type="button" class="btn btn-success">Edit</button>
                <button type="button" class="btn btn-danger" (click)="delete(selection)">Delete</button>
              </div>

            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">

                  <!-- Input group (addon) -->
                  <div class="form-group">
                    <label class="form-control-label">Search</label>
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-append">
                        <em class="fa fa-search input-group-text"></em>
                        <em class="fa fa-times input-group-text"></em>
                      </span>
                    </div>
                  </div>

                </div>
                <div class="col-md-12">
                  <div class="scroll-box-350">

                    <!-- Table -->
                    <table class="table table-striped table-sm table-hover">
                      <thead>
                        <tr class="d-flex">
                          <th class="col-1">Id</th>
                          <th class="col-4">Name</th>
                          <th class="col-6">Definition</th>
                          <th class="col-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="d-flex show-child-on-hover" *ngFor="let extract of extracts" (click)="selection = extract" [class.selection]="selection == extract">
                          <td class="col-1">{{extract.extractId}}</td>
                          <td class="col-4">{{extract.extractName}}</td>
                          <td class="col-6">{{extract.definition.name}}</td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
