<div class="module">
  <div class="container-fluid">
    <div class="module-heading">{{dialogTitle}}
      <div class="pull-right">
        <button type="button" class="btn btn-success" (click)="save(false);">Save</button>
        <button type="button" class="btn btn-warning" (click)="save(true);">Save & close</button>
        <button type="button" class="btn btn-danger" (click)="close(true)">Close</button>
      </div>
    </div>
    <div class="module-body">
      <div *ngIf="!existing">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <form ExtractDetails="form" class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div *ngIf="isEditMode()" class="form-group">
                      <label class="control-label required-field">Extract Id</label>
                      <input type="text" *ngIf="isEditMode()" disabled class="form-control" placeholder="Id" [(ngModel)]="selection.extractId" name="extractId" #extractId>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Extract Name</label>
                      <input type="text" class="form-control" placeholder="Extract Name" [(ngModel)]="selection.extractName" name="extractName" #extractName>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Cron Timing</label>&nbsp;&nbsp;<button type="button" class="btn btn-success" (click)="validateCron()">Validate</button>
                      <input type="text" class="form-control" placeholder="Cron Timing" [(ngModel)]="selection.cron" name="cron" #cron>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Cohort Id</label>
                      <input type="text" class="form-control" placeholder="Cohort Id" [(ngModel)]="selection.cohortId" name="cohortId" #cohortId>
                    </div>
                    <div>
                      <label class="control-label align-content-center">Clear Cohort Every Extract&nbsp;&nbsp;</label><input type="checkbox" [(ngModel)]="selection.clearCohortEveryRun" id="chkClearCohortEveryRun" name="clearCohortEveryRun">
                    </div>
                    <br/>
                    <div class="form-group">
                      <label class="control-label required-field">Code Set Id</label>
                      <input type="text" class="form-control" placeholder="Code Set Id" [(ngModel)]="selection.codeSetId" name="codeSetId" #codeSetId>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Data Set Id</label>
                      <input type="text" class="form-control" placeholder="Dataset Id" [(ngModel)]="selection.datasetId" name="datasetId" #datasetId>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Definition Id</label>
                      <input type="text" class="form-control" placeholder="Definition Id" [(ngModel)]="selection.definition.id" name="definition.id" #definition.id>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Definition Name</label>
                      <input type="text" class="form-control" placeholder="Definition Name" [(ngModel)]="selection.definition.name" name="definition.name" #definition.name>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Definition Project Id</label>
                      <input type="text" class="form-control" placeholder="Project Id" [(ngModel)]="selection.definition.projectId" name="definition.projectId" #definition.projectId>
                    </div>
                    <div *ngIf="isEditMode()" class="form-group">
                      <label class="control-label required-field">Transaction Id</label>
                      <input type="text" class="form-control" placeholder="Transaction Id" [(ngModel)]="selection.transactionId" name="transactionId" #transactionId>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label required-field">File Location Source</label>
                      <input type="text" class="form-control" placeholder="Source" [(ngModel)]="selection.definition.fileLocationDetails.source" name="definition.fileLocationDetails.source" #definition.fileLocationDetails.source>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">File Location Destination</label>
                      <input type="text" class="form-control" placeholder="Destination" [(ngModel)]="selection.definition.fileLocationDetails.destination" name="definition.fileLocationDetails.destination" #definition.fileLocationDetails.destination>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">File Location Housekeep</label>
                      <input type="text" class="form-control" placeholder="Housekeep" [(ngModel)]="selection.definition.fileLocationDetails.housekeep" name="definition.fileLocationDetails.housekeep" #definition.fileLocationDetails.housekeep>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Hostname</label>
                      <input type="text" class="form-control" placeholder="Hostname" [(ngModel)]="selection.definition.sftpConnectionDetails.hostname" name="definition.sftpConnectionDetails.hostname" #definition.sftpConnectionDetails.hostname>
                    </div>
                    <div class="form-group">
                      <label class="control-label required-field">Port</label>
                      <input type="text" class="form-control" placeholder="Port" [(ngModel)]="selection.definition.sftpConnectionDetails.port" name="definition.sftpConnectionDetails.port" #definition.sftpConnectionDetails.port>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Username</label>
                      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="selection.definition.sftpConnectionDetails.username" name="definition.sftpConnectionDetails.username" #definition.sftpConnectionDetails.username>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Host Public Key</label>
                      <input type="text" class="form-control" placeholder="Host Public Key" [(ngModel)]="selection.definition.sftpConnectionDetails.hostPublicKey" name="definition.sftpConnectionDetails.hostPublicKey" #selection.definition.sftpConnectionDetails.hostPublicKey>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Client Private Key</label>
                      <input type="text" class="form-control" placeholder="Client Private Key" [(ngModel)]="selection.definition.sftpConnectionDetails.clientPrivateKey" name="definition.sftpConnectionDetails.clientPrivateKey" #selection.definition.sftpConnectionDetails.clientPrivateKey>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Client Private Key Password</label>
                      <input type="text" class="form-control" placeholder="Client Private KeyPassword" [(ngModel)]="selection.definition.sftpConnectionDetails.clientPrivateKeyPassword" name="definition.sftpConnectionDetails.clientPrivateKeyPassword" #selection.definition.sftpConnectionDetails.clientPrivateKeyPassword>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
